[header]
    <div id="content">
      <div>
        <h2>Request method</h2>
        <strong><em>[method]</em></strong>
        <br /><br />
        <h2>Query arguments (GET):</h2>
        <ul class="varlist">[getvars|raw]</ul>
        <br />
        <h2>POST data:</h2>
        <ul class="varlist">[postvars|raw]</ul>
        <br />
        <h2>Cookies:</h2>
        <ul class="varlist">[cookies|raw]</ul>
      </div>
      <div>
        <h2>Test POST data</h2>
        <form action="#" method="post">
          <ul class="nodot">
            <li>
                <label for="example_post">ExamplePost:</label>
                <input type="text" id="example_post" name="ExamplePost" />
                <input type="submit" value="Submit" />
            </li>
          </ul>
        </form>
        <br />
        <h2>Create a custom cookie</h2>
        <p>
          These cookies will be posted to this very same page. They will then be added to the outgoing headers. They will *not* show up on the resulting page, though they will on every other request after that, until their max-age expires.
        <form action="#" method="post">
          <ul class="nodot horizontal">
            <li>
                <label for="cookie_name">Cookie name:</label>
                <input type="text" id="cookie_name" name="uweb_cookie_name" />
            </li>
            <li>
                <label for="cookie_value">Cookie value:</label>
                <input type="text" id="cookie_value" name="uweb_cookie_value" />
            </li>
            <li>
                <label for="cookie_path">Cookie path:</label>
                <input type="text" value="/" id="cookie_path" name="uweb_cookie_path" />
            </li>
            <li>
                <label for="cookie_max_age">Cookie max-age:</label>
                <input type="text" id="cookie_max_age" name="uweb_cookie_max_age" />
                <input type="submit" value="Submit" />
            </li>
          </ul>
        </form>
        <br />
        <h2>OpenId login</h2>
        <form method="post" accept-charset="UTF-8" action="/OpenIDLogin">
          <label for="openid_provider">Provider URL:</label>
          <input type="text" id="openid_provider" name="openid_provider" value="" />
          <input type="submit" value="Log in" /><br />
        </form>
      </div>
      <div>
        <h2>Client headers:</h2>
        <ul class="varlist">[headers|raw]</ul>
      </div>
      <div>
        <h2>Environment variables:</h2>
        <ul class="varlist">[env|raw]</ul>
      </div>
      <div>
        <h2>Extended environment variables:</h2>
        <ul class="varlist">[ext_env|raw]</ul>
      </div>
    </div>
[footer]
